*{
    box-shadow: 0;
    color: white;
    padding: 0;
    margin: 0;
    user-select: none;
}
:root {
    --heading: 'Bellefair';
    --text:'Barlow Condensed';
    --ligh-blue: #D0D6F9;
    --black: #0B0D17;
    --ofwhite:#ffffff;
}
body{
    background-image: url("../photos/home/background-home-desktop.jpg");
    background-size:cover;
    background-attachment:fixed;
    height: 100vh;
    background-repeat: no-repeat;
}
.header{
    padding-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
}
.logo-img{
    padding: 0px 40px;
    position: absolute;
}
nav{
    right: 0;
    position:absolute;
    backdrop-filter: blur(13px);
    background-color: rgba(255, 255, 255, 0.014);
    width: 55%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 60px;
}
p{
    font-family: var(--text);
}
a{
    font-family: var(--text);
    text-decoration: none;
    position: relative;
    font-size: 18px;
}
a::after{
    content: "";
    position: absolute;
    background-color:gray;
    height: 0px;
    width: 100%;
    left: 0;
    bottom: -40px;
    transition: 0.3s;
}
a:hover::after{
    height: 3px;
}
.hovered::after{
    height: 3px;
    background-color:var(--ofwhite);
}
.line{
    z-index: 1;
    width: 50%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.39);
    position: absolute;
    left: -45%;
}
.content{
    display: grid;
    height: 900px;
    align-items: center;    
    justify-content: space-between;
    padding: 60px 100px;
    grid-template-columns: 50% 50%;
}
.paragraph{
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 150px;
    font-size: 25px;
}
.space{
    font-family: var(--heading);
    font-size: 140px;
}
.travel{
    font-family: var(--text);
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 5px;
}
.image-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 300px;
    background-color:var(--ofwhite);
    color: black;
    font-size: 40px;
    font-family:var(--heading);
    
}
.dis-no{
    display: none;
}

.planets{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.planets a::after{
    bottom: -15px;
}
.side-content{
    width: 450px;
    line-height: 30px;
    font-size: 20px;
    height: 400px;
}
@keyframes move{
    0% {top: 0px;}
    50% {top: 50px;}
    100% {top: 0px;}
}
.img-planet{
    width: 445px;
    height: 495px;
}
.planet-name{
    font-family: var(--heading);
    font-size: 100px;
    font-weight: 100;
}
.img-planet .img{
    position: relative;
    animation: move 5s ease-in-out infinite alternate;
}
.image{
    transition: 1s;
}
.crews{
    width: 160px;
    display: flex;
    justify-content: space-between;
    padding: 150px;
    position: absolute;
    bottom: 180px;
}
.crew-selector:hover{
    background-color: var(--ligh-blue);
}
.crew-selector{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}
.crew-selector.hovered{
    background-color:var(--ofwhite);
}
.crew-title,.tech-title{
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-family: var(--heading);
}
.tech-main{
    padding: 150px;
}
.tech-main .paragraph{
    display: flex;
}
.tech-title{
    font-size:16px;
    letter-spacing: 2.7px ;
    font-family: var(--text);
    color: var(--ligh-blue);
}
.tech-name{
    font-family: var(--heading);
    font-weight: 100;
    margin: 10px 0px;
}
.tech-selector{
    font-family: var(--heading);
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: var(--ofwhite);
    border: 2.5px solid hwb(0 100% 0% / 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 0px -150px ;
}
.tech-selector:hover{
    border-color:var(--ofwhite);
}
.tech-selector.hovered{
    background-color: var(--ofwhite);
    color: var(--black);
}